<?xml version="1.0" encoding="gb2312"?>
<!-- $Revision$ -->
<!-- $Author$ -->
<!-- EN-Revision:1.7 Maintainer: class007 Status: ready -->
<!-- CREDITS: class007 -->
 <sect1 xml:id="install.macosx.server" xmlns="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>在 Mac OS X 服务器版编译</title>

  <formalpara xml:id="install.macosx.server.compile">
   <title>Mac OS X 服务器安装</title>
   <para>
    <orderedlist>
     <listitem>
      <simpara>获得最新版本的 Apache 和 PHP。</simpara>
     </listitem>
     <listitem>
      <para>
       将它们的 tar 包解压，然后如下运行 Apache 的 <command>configure</command> 程序。
       <programlisting role="shell">
<![CDATA[
./configure --exec-prefix=/usr \
--localstatedir=/var \
--mandir=/usr/share/man \
--libexecdir=/System/Library/Apache/Modules \
--iconsdir=/System/Library/Apache/Icons \
--includedir=/System/Library/Frameworks/Apache.framework/Versions/1.3/Headers \
--enable-shared=max \
--enable-module=most \
--target=apache
]]>
       </programlisting>
      </para>
     </listitem>
     <listitem>
      <para>
       如果想对编译做些优化，可以添加下面一行：
       <programlisting role="shell">
<![CDATA[
setenv OPTIM=-O2
]]>
       </programlisting>
      </para>
     </listitem>
     <listitem>
      <para>
       接下来，进入 PHP 4 源代码目录，并进行 configure 操作。
       <programlisting role="shell">
<![CDATA[
./configure --prefix=/usr \
    --sysconfdir=/etc \
    --localstatedir=/var \
    --mandir=/usr/share/man \
    --with-xml \
    --with-apache=/src/apache_1.3.12
]]>
       </programlisting>
       如果需要其它附加功能（MySQL、GD 等），务必将它们添加到这里。对于
       <option role="configure">--with-apache</option> 参数，需要将其路径指向
       Apache 源代码目录，例如
       <filename class="directory">/src/apache_1.3.12</filename>。
      </para>
     </listitem>
     <listitem>
      <simpara>
       输入 <command>make</command> 和 <command>make install</command>。这样在 Apache
       源代码目录中会创建一名为
       <filename class="directory">src/modules/php4</filename> 的目录。
      </simpara>
     </listitem>
     <listitem>
      <para>
       现在，重新配置 Apache 以编译 PHP 4。
       <programlisting role="shell">
<![CDATA[
./configure --exec-prefix=/usr \
--localstatedir=/var \
--mandir=/usr/share/man \
--libexecdir=/System/Library/Apache/Modules \
--iconsdir=/System/Library/Apache/Icons \
--includedir=/System/Library/Frameworks/Apache.framework/Versions/1.3/Headers \
--enable-shared=max \
--enable-module=most \
--target=apache \
--activate-module=src/modules/php4/libphp4.a
]]>
       </programlisting>
       可能会被告知 <filename>libmodphp4.a</filename> 太旧了。如果出现这个情况，进入
       Apache 源代码目录中的 <filename class="directory">src/modules/php4</filename>
       目录，并运行该命令：
       <command>ranlib libmodphp4.a</command>。然后返回到 Apache 源代码根目录，再次运行上面的
       <command>configure</command> 命令。这样便会更新连接表。然后再次运行
       <command>make</command> 和 <command>make install</command> 命令。
      </para>
     </listitem>
     <listitem>
      <simpara>
       从 PHP 4 源代码目录复制并重命名 <filename>php.ini-dist</filename> 文件到
       <filename class="directory">bin</filename> 目录：<userinput>cp php.ini-dist /usr/local/bin/php.ini</userinput>
       或（如果没有 local 目录）<userinput>cp php.ini-dist /usr/bin/php.ini</userinput>。
      </simpara>
     </listitem>
    </orderedlist>
   </para>
  </formalpara>
  <!--
  <simpara>
  TODO: Someone with Mac OS X skills needs to improve this DOC
        Also, these links are 404 and outdated anyways and
        stepwise doesn't support PHP anymore.

        See also bug #14732

   Other examples for
   <link xlink:href="&url.stepwise.macosx-client;">Mac OS X client</link>
   and
   <link xlink:href="&url.stepwise.macosx-client;">Mac OS X server</link>
   are available at <link xlink:href="&url.stepwise;">Stepwise</link>.
  </simpara>
  -->
 </sect1>

<!-- Keep this comment at the end of the file
Local variables:
mode: sgml
sgml-omittag:t
sgml-shorttag:t
sgml-minimize-attributes:nil
sgml-always-quote-attributes:t
sgml-indent-step:1
sgml-indent-data:t
indent-tabs-mode:nil
sgml-parent-document:nil
sgml-default-dtd-file:"../../manual.ced"
sgml-exposed-tags:nil
sgml-local-catalogs:nil
sgml-local-ecat-files:nil
End:
vim600: syn=xml fen fdm=syntax fdl=2 si
vim: et tw=78 syn=sgml
vi: ts=1 sw=1
-->
