BODY, TABLE, TD, TH		{ font-family: Times New Roman; font-size: 14px; }

DIV						{ font-family: Times New Roman; font-size: 14px; }
DIV.toc					{ font-family: Times New Roman; font-size: 14px; line-height: 150%; }

P						{ text-indent: 4ex; line-height: 150%; }
P.copyright				{ text-indent: 0ex; font-size: 12px; }

PRE.programlisting		{ font-family: Courier New; font-size: 13px; }
PRE.screen				{ font-family: Courier New; font-size: 13px; }
PRE.php					{ font-family: Courier New; font-size: 13px; }

TT.literal				{ font-family: Courier New; font-size: 14px; }
TT.email				{ font-family: Courier New; font-size: 14px; }
TT.filename				{ font-family: Courier New; font-size: 14px; }
TT.parameter			{ font-family: Courier New; font-size: 14px; }

B.command				{ font-family: Courier New; font-size: 14px; }