<?xml version="1.0" encoding="utf-8"?>
<!-- $Revision: 300063 $ -->
<!-- $Author: herrywood $ -->
<!-- $EN-Revision: 2fd3f0c96d9d221fe37109775af4df4cf949d5d8 $ -->
 <sect1 xml:id="internals2.memory.persistence" xmlns="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>数据持久化</title>
  
  <simpara>
  </simpara>

 </sect1>
