<?xml version="1.0" encoding="utf-8"?>
<!-- $Revision$ -->
<!-- EN-Revision: e392d576edd328d2c1340a560bfa8c632e1a7c90 Maintainer: HonestQiao Status: ready -->
<!-- Reviewed: no Maintainer: HonestQiao -->

<phpdoc:varentry xmlns:phpdoc="http://php.net/ns/phpdoc" xml:id="reserved.variables.server" xmlns="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink" role="noversion">
 <refnamediv>
  <refname>$_SERVER</refname>
  <refname>$HTTP_SERVER_VARS [已删除]</refname>
  <refpurpose>服务器和执行环境信息</refpurpose>
 </refnamediv>
 
 <refsect1 role="description">
  &reftitle.description;
  <para>
   <varname>$_SERVER</varname> 是一个包含了诸如头信息(header)、路径(path)、以及脚本位置(script locations)等等信息的数组。这个数组中的项目由 Web 服务器创建。不能保证每个服务器都提供全部项目；服务器可能会忽略一些，或者提供一些没有在这里列举出来的项目。这也就意味着大量的此类变量都会在<link xlink:href="&url.rfc;3875">CGI 1.1 规范</link>中说明，所以应该仔细研究一下。
  </para>
  <note>
  <simpara>
    PHP 5.4.0 之前，<varname>$HTTP_SERVER_VARS</varname> 包含着相同的信息，但它不是一个<link linkend="language.variables.superglobals">超全局变量</link>。
   (注意 <varname>$HTTP_SERVER_VARS</varname> 与 <varname>$_SERVER</varname> 是不同的变量，PHP处理它们的方式不同)
  </simpara>
  </note>

 </refsect1>

 <refsect1 role="indices">
  &reftitle.indices;

  <simpara>
   在 <varname>$_SERVER</varname> 中，你也许能够，也许不能够找到下面的这些元素。注意，如果以<link linkend="features.commandline">命令行</link>方式运行 PHP，下面列出的元素几乎没有有效的(或是没有任何实际意义的)。 
  </simpara>

  <para>
   <variablelist>
    <varlistentry>
     <term>'<varname>PHP_SELF</varname>'</term>
     <listitem>
      <simpara>
       当前执行脚本的文件名，与 document root 有关。例如，在地址为 <filename>http://example.com/foo/bar.php</filename> 的脚本中使用 <varname>$_SERVER['PHP_SELF']</varname> 将得到 <filename>/foo/bar.php</filename>。<link linkend="language.constants.predefined">__FILE__</link> 常量包含当前(例如包含)文件的完整路径和文件名。
      </simpara>
      <simpara>
       从 PHP 4.3.0 版本开始，如果 PHP 以命令行模式运行，这个变量将包含脚本名。之前的版本该变量不可用。
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<link linkend="reserved.variables.argv">argv</link>'</term>
     <listitem>
      <simpara>
        传递给该脚本的参数的数组。当脚本以命令行方式运行时，argv 变量传递给程序 C 语言样式的命令行参数。当通过 GET 方式调用时，该变量包含query string。
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<link linkend="reserved.variables.argc">argc</link>'</term>
     <listitem>
      <simpara>
       包含命令行模式下传递给该脚本的参数的数目(如果运行在命令行模式下)。
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>GATEWAY_INTERFACE</varname>'</term>
     <listitem>
      <simpara>
       服务器使用的 CGI 规范的版本；例如，“<literal>CGI/1.1</literal>”。
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>SERVER_ADDR</varname>'</term>
     <listitem>
      <simpara>
       当前运行脚本所在的服务器的 IP 地址。
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>SERVER_NAME</varname>'</term>
     <listitem>
      <simpara>
       当前运行脚本所在的服务器的主机名。如果脚本运行于虚拟主机中，该名称是由那个虚拟主机所设置的值决定。
      </simpara>
      <note>
       <simpara>
        在 Apache 2 里，必须设置 <literal>UseCanonicalName = On</literal>
        和 <literal>ServerName</literal>。
        否则该值会由客户端提供，就有可能被伪造。
        上下文有安全性要求的环境里，不应该依赖此值。
       </simpara>
      </note>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>SERVER_SOFTWARE</varname>'</term>
     <listitem>
      <simpara>
       服务器标识字符串，在响应请求时的头信息中给出。
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>SERVER_PROTOCOL</varname>'</term>
     <listitem>
      <simpara>
       请求页面时通信协议的名称和版本。例如，“HTTP/1.0”。
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>REQUEST_METHOD</varname>'</term>
     <listitem>
      <simpara>
       访问页面使用的请求方法；例如，“<literal>GET</literal>”, “<literal>HEAD</literal>”，“<literal>POST</literal>”，“<literal>PUT</literal>”。
      </simpara>
      <note>
       <para>
        如果请求方法为 <literal>HEAD</literal>，PHP 脚本将在发送 Header 头信息之后终止(这意味着在产生任何输出后，不再有输出缓冲)。
       </para>
      </note>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>REQUEST_TIME</varname>'</term>
     <listitem>
      <simpara>
       请求开始时的时间戳。从 PHP 5.1.0 起可用。
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>REQUEST_TIME_FLOAT</varname>'</term>
     <listitem>
      <simpara>
       请求开始时的时间戳，微秒级别的精准度。
       自 PHP 5.4.0 开始生效。
      </simpara>
     </listitem>
    </varlistentry>
     
    <varlistentry>
     <term>'<varname>QUERY_STRING</varname>'</term>
     <listitem>
      <simpara>
       query string（查询字符串），如果有的话，通过它进行页面访问。
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>DOCUMENT_ROOT</varname>'</term>
     <listitem>
      <simpara>
       当前运行脚本所在的文档根目录。在服务器配置文件中定义。
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>HTTP_ACCEPT</varname>'</term>
     <listitem>
      <simpara>
       当前请求头中 <literal>Accept:</literal> 项的内容，如果存在的话。
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>HTTP_ACCEPT_CHARSET</varname>'</term>
     <listitem>
      <simpara>
       当前请求头中 <literal>Accept-Charset:</literal> 项的内容，如果存在的话。例如：“<literal>iso-8859-1,*,utf-8</literal>”。
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>HTTP_ACCEPT_ENCODING</varname>'</term>
     <listitem>
      <simpara>
       当前请求头中 <literal>Accept-Encoding:</literal> 项的内容，如果存在的话。例如：“<literal>gzip</literal>”。
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>HTTP_ACCEPT_LANGUAGE</varname>'</term>
     <listitem>
      <simpara>
       当前请求头中 <literal>Accept-Language:</literal> 项的内容，如果存在的话。例如：“<literal>en</literal>”。
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>HTTP_CONNECTION</varname>'</term>
     <listitem>
      <simpara>
       当前请求头中 <literal>Connection:</literal> 项的内容，如果存在的话。例如：“<literal>Keep-Alive</literal>”。
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>HTTP_HOST</varname>'</term>
     <listitem>
      <simpara>
       当前请求头中 <literal>Host:</literal> 项的内容，如果存在的话。
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>HTTP_REFERER</varname>'</term>
     <listitem>
      <simpara>
       引导用户代理到当前页的前一页的地址（如果存在）。由 user agent 设置决定。并不是所有的用户代理都会设置该项，有的还提供了修改 <varname>HTTP_REFERER</varname> 的功能。简言之，该值并不可信。
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>HTTP_USER_AGENT</varname>'</term>
     <listitem>
      <simpara>
       当前请求头中 <literal>User-Agent:</literal> 项的内容，如果存在的话。该字符串表明了访问该页面的用户代理的信息。一个典型的例子是：<computeroutput>Mozilla/4.5 [en] (X11; U;
       Linux 2.2.9 i586)</computeroutput>。除此之外，你可以通过 <function>get_browser</function> 来使用该值，从而定制页面输出以便适应用户代理的性能。
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>HTTPS</varname>'</term>
     <listitem>
      <simpara>
      如果脚本是通过 HTTPS 协议被访问，则被设为一个非空的值。 
      </simpara>
      <note>
       <simpara>
        注意当使用 IIS 上的 ISAPI 方式时，如果不是通过 HTTPS 协议被访问，这个值将为 <literal>off</literal>。
       </simpara>
      </note>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>REMOTE_ADDR</varname>'</term>
     <listitem>
      <simpara>
       浏览当前页面的用户的 IP 地址。
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>REMOTE_HOST</varname>'</term>
     <listitem>
      <simpara>
       浏览当前页面的用户的主机名。DNS 反向解析不依赖于用户的 <varname>REMOTE_ADDR</varname>。
      </simpara>
      <note>
       <simpara>
        你的服务器必须被配置以便产生这个变量。例如在 Apache 中，你需要在 &httpd.conf; 中设置 <literal>HostnameLookups On</literal> 来产生它。参见 <function>gethostbyaddr</function>。
       </simpara>
      </note>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>REMOTE_PORT</varname>'</term>
     <listitem>
      <simpara>
       用户机器上连接到 Web 服务器所使用的端口号。
      </simpara>
     </listitem>
    </varlistentry>
    <varlistentry>
     <term>'<varname>REMOTE_USER</varname>'</term>
     <listitem>
      <simpara>
        经验证的用户
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>REDIRECT_REMOTE_USER</varname>'</term>
     <listitem>
      <simpara>
        验证的用户，如果请求已在内部重定向。
      </simpara>
     </listitem>
    </varlistentry>
    <varlistentry>
     <term>'<varname>SCRIPT_FILENAME</varname>'</term>
     <listitem>
      <para>
       当前执行脚本的绝对路径。
       <note>
        <para>
         如果在命令行界面（Command Line Interface, CLI）使用相对路径执行脚本，例如 <filename>file.php</filename> 或 <filename>../file.php</filename>，那么 <varname>$_SERVER['SCRIPT_FILENAME']</varname> 将包含用户指定的相对路径。
        </para>
       </note>
      </para>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>SERVER_ADMIN</varname>'</term>
     <listitem>
      <simpara>
       该值指明了 Apache 服务器配置文件中的 SERVER_ADMIN 参数。如果脚本运行在一个虚拟主机上，则该值是那个虚拟主机的值。 
      </simpara>
     </listitem>
    </varlistentry>
    
    <varlistentry>
     <term>'<varname>SERVER_PORT</varname>'</term>
     <listitem>
      <simpara>
        Web 服务器使用的端口。默认值为 “<literal>80</literal>”。如果使用 SSL 安全连接，则这个值为用户设置的 HTTP 端口。
      </simpara>
      <note>
       <simpara>
        在 Apache 2 里，为了获取真实物理端口，必须设置 <literal>UseCanonicalName = On</literal> 以及 <literal>UseCanonicalPhysicalPort = On</literal>。
        否则此值可能被伪造，不一定会返回真实端口值。
        上下文有安全性要求的环境里，不应该依赖此值。
       </simpara>
      </note>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>SERVER_SIGNATURE</varname>'</term>
     <listitem>
      <simpara>
       包含了服务器版本和虚拟主机名的字符串。
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>PATH_TRANSLATED</varname>'</term>
     <listitem>
      <simpara>
       当前脚本所在文件系统（非文档根目录）的基本路径。这是在服务器进行虚拟到真实路径的映像后的结果。
      </simpara>
      <note>
       <simpara>
       自 PHP 4.3.2 起，<envar>PATH_TRANSLATED</envar> 在 Apache 2 <acronym>SAPI</acronym> 模式下不再和 Apache 1 一样隐含赋值，而是若 Apache 不生成此值，PHP 便自己生成并将其值放入 <envar>SCRIPT_FILENAME</envar> 服务器常量中。这个修改遵守了 <acronym>CGI</acronym> 规范，<envar>PATH_TRANSLATED</envar> 仅在 <envar>PATH_INFO</envar> 被定义的条件下才存在。
       </simpara>
       <simpara>
        Apache 2 用户可以在 <filename>httpd.conf</filename> 中设置 <literal>AcceptPathInfo = On</literal> 来定义 <envar>PATH_INFO</envar>。
       </simpara>
      </note>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>SCRIPT_NAME</varname>'</term>
     <listitem>
      <simpara>
       包含当前脚本的路径。这在页面需要指向自己时非常有用。<link linkend="language.constants.predefined">__FILE__</link> 常量包含当前脚本(例如包含文件)的完整路径和文件名。
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>REQUEST_URI</varname>'</term>
     <listitem>
      <simpara>
       URI 用来指定要访问的页面。例如 “<literal>/index.html</literal>”。
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>PHP_AUTH_DIGEST</varname>'</term>
     <listitem>
      <simpara>
       当作为 Apache 模块运行时，进行 HTTP Digest 认证的过程中，此变量被设置成客户端发送的“Authorization” HTTP 头内容（以便作进一步的认证操作）。 
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>PHP_AUTH_USER</varname>'</term>
     <listitem>
      <simpara>
       当 PHP 运行在 Apache 或 IIS（PHP 5 是 ISAPI）模块方式下，并且正在使用 HTTP 认证功能，这个变量便是用户输入的用户名。
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>PHP_AUTH_PW</varname>'</term>
     <listitem>
      <simpara>
       当 PHP 运行在 Apache 或 IIS（PHP 5 是 ISAPI）模块方式下，并且正在使用 HTTP 认证功能，这个变量便是用户输入的密码。 
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>AUTH_TYPE</varname>'</term>
     <listitem>
      <simpara>
       当 PHP 运行在 Apache 模块方式下，并且正在使用 HTTP 认证功能，这个变量便是认证的类型。
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>PATH_INFO</varname>'</term>
     <listitem>
      <simpara>
       包含由客户端提供的、跟在真实脚本名称之后并且在查询语句（query string）之前的路径信息，如果存在的话。例如，如果当前脚本是通过 URL <filename>http://www.example.com/php/path_info.php/some/stuff?foo=bar</filename> 被访问，那么 <varname>$_SERVER['PATH_INFO']</varname> 将包含 <literal>/some/stuff</literal>。
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>ORIG_PATH_INFO</varname>'</term>
     <listitem>
      <simpara>
       在被 PHP 处理之前，“<varname>PATH_INFO</varname>” 的原始版本。
      </simpara>
     </listitem>
    </varlistentry>

   </variablelist>
  </para>
 </refsect1>
 
 <refsect1 role="changelog">
  &reftitle.changelog;
  <para>
   <informaltable>
    <tgroup cols="2">
     <thead>
      <row>
       <entry>&Version;</entry>
       <entry>&Description;</entry>
      </row>
     </thead>
     <tbody>
      <row>
       <entry>5.4.0</entry>
       <entry>
        因为移除了 long array register 功能，<varname>$HTTP_SERVER_VARS</varname> 不再有效。
       </entry>
      </row>
      <row>
       <entry>5.3.0</entry>
       <entry>
        废弃了使 <varname>$HTTP_SERVER_VARS</varname> 生效的 <link linkend="ini.register-long-arrays">register_long_arrays</link> 指令。
       </entry>
      </row>
     </tbody>
    </tgroup>
   </informaltable>
  </para>
 </refsect1>
 
 <refsect1 role="examples">
  &reftitle.examples;
  <para>
   <example xml:id="variable.server.basic">
    <title><varname>$_SERVER</varname> 范例</title>
    <programlisting role="php">
<![CDATA[
<?php
echo $_SERVER['SERVER_NAME'];
?>
]]>
    </programlisting>
    &example.outputs.similar;
    <screen>
<![CDATA[
www.example.com
]]>
    </screen>
   </example>
  </para>
 </refsect1>
 
 <refsect1 role="notes">
  &reftitle.notes;
  &note.is-superglobal;
 </refsect1>

 <refsect1 role="seealso">
  &reftitle.seealso;
  <para>
   <simplelist>
    <member><link linkend="book.filter">过滤器扩展</link></member>
   </simplelist>
  </para>
 </refsect1>

</phpdoc:varentry>
 
<!-- Keep this comment at the end of the file
Local variables:
mode: sgml
sgml-omittag:t
sgml-shorttag:t
sgml-minimize-attributes:nil
sgml-always-quote-attributes:t
sgml-indent-step:1
sgml-indent-data:t
indent-tabs-mode:nil
sgml-parent-document:nil
sgml-default-dtd-file:"~/.phpdoc/manual.ced"
sgml-exposed-tags:nil
sgml-local-catalogs:nil
sgml-local-ecat-files:nil
End:
vim600: syn=xml fen fdm=syntax fdl=2 si
vim: et tw=78 syn=sgml
vi: ts=1 sw=1
-->
